@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  
}

.hver{
  transition: .3s;
  background-color: white;
  border-radius: 15px;
  border:1px solid black
}
.hver:hover{
  background-color: black;
  color:white;
  border-radius: 25px;
  border:1px solid white
}
.wo{
  width:31%
}
@media screen and (max-width:1025px){
  .wo{
    width:48%
  }
  
}
@media screen and (max-width:426px){
  .wo{
    width:100%
  }
  
}